//Icons
@import "@fortawesome/fontawesome-free/css/all.css";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$success: #07A039;
$light: #F3F3F3;

//Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$line-height-base: 1.4;
$font-weight-semibold: 500;

//Input
$form-floating-height: 3.3rem;
$input-border-color: #eaeaea;
$form-select-border-color: #eaeaea;
$input-focus-border-color: #cccccc;
$input-focus-box-shadow: 0 0 0 0.15rem rgb(34 34 34 / 11%);

//Bootstrap
@import 'bootstrap/scss/bootstrap';

//Scroll
::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #423F3F;
}

.form-check-input:checked {
    background-color: rgba(14,160,57,1);
    border-color: rgba(14,160,57,1);
}

.header{
    .background{
        position: absolute;
        background: rgb(124,178,42);
        background: linear-gradient(50deg, rgba(124,178,42,1) 0%, rgba(14,160,57,1) 100%);
        width: 95%;
        height: 600px;
        right: 0;
        border-bottom-left-radius: 130px;
        z-index: -1;
    }

    h1{
        font-size: 73px;
        line-height: 120%;

        span{
            font-size: 120px;
        }
    }

    .banner{
        bottom: 13px;
    }
}

.step-1{
    .border-radius-bottom-right{
        border-bottom-right-radius: 100px;
    }
}

.step-2{
    .bg-step{
        bottom: 32px;
        left: 29px;
    }

    .content{
        padding-left: 150px;
    }

    .border-radius-bottom-left{
        border-bottom-left-radius: 60px;
    }
}

.step-3{
    .background{
        background: rgb(124,178,42);
        background: linear-gradient(50deg, rgba(124,178,42,1) 0%, rgba(14,160,57,1) 100%);
    }

    .content{
        top: -70px;

        .border-radius-bottom-right{
            border-bottom-right-radius: 50px;
        }

        .border-radius-top-right{
            border-top-right-radius: 50px;
        }
    }
}

.step-4{
    .background{
        background: rgb(124,178,42);
        background: linear-gradient(50deg, rgba(124,178,42,1) 0%, rgba(14,160,57,1) 100%);
    }

    .bg-step{
        right: -180px;
    }

    .content{
        padding-left: 200px;

        &.border-radius-bottom-right{
            border-bottom-right-radius: 20px;
        }

        &.border-radius-top-right{
            border-top-right-radius: 20px;
        }
    }
}

.step-5{
    .background{
        background: rgb(124,178,42);
        background: linear-gradient(50deg, rgba(124,178,42,1) 0%, rgba(14,160,57,1) 100%);
    }

    .divider{
        width: 6px;
        height: 35px;
        background: white;
        border-radius: 15px;
    }

    .border-radius-bottom-left{
        border-bottom-left-radius: 200px;
    }

    .border-radius-top-left{
        border-top-left-radius: 200px;
    }

    .content{
        margin-top: 90px;

        .h1{
            font-size: 90px;
            top: -25px;
        }

        .h2{
            top: -66px;
        }
    }
}

.step-6{
    .content{
        margin-top: 130px;

        .background{
            background: rgb(124,178,42);
            background: linear-gradient(50deg, rgba(124,178,42,1) 0%, rgba(14,160,57,1) 100%);
        }

        .border-radius-bottom-right{
            border-bottom-right-radius: 100px;
        }

        .border-radius-top-right{
            border-top-right-radius: 40px;
        }

        .sliders{
            top: -100px;
        }

        hr{
            margin-top: 110px;
        }
    }
}

.step-7{
    .background{
        background: #fcfcfd;
    }
}

.step-8{
    .background{
        background: #fcfcfd;
    }
}

//Navbar
.navbar{
    .navbar-nav{
        border-radius: 30px;
        padding: 8px 10px;
    }
}

//Custom
.fw-extrabold{
    font-weight: 900;
}

.custom{
    &.text-justify{
        text-align: justify;
    }

    &.z-index-1{
        z-index: 1;
    }
}
